
snippet html5 "HTML5 Template"
<!DOCTYPE html>
<html>
<head>
	<title>${1}</title>
	<meta charset="utf-8" />
</head>
<body>
	<header>
		${2}
	</header>
	<content>
		${3}
	</content>
	<footer>
		${4}
	</footer>
</body>
</html>
endsnippet

# vim:ft=snippets:
